<html>
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="stylesheets/login-style.css">
	</head>
	<body>
		<div class='login'>
			<h2>Sign in</h2>
			<form method="POST" action="http://192.168.2.7:3000/login">
				<input name='username' placeholder='Username' type='text'/>
				<input id='pw' name='password' placeholder='Password' type='password'/>
				<input type='submit' value='Sign in'/>
			</form>
		</div>
	</body>
</html>
